# Byte-compiled / optimized / DLL files
backend/__pycahe__/
tests/__pycache__/
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# virtualenv
.venv/
venv/
ENV/

# Tmp file
*.dump
